<div class="flex items-center space-x-12 font-vitt text-vittNavyBlue not-italic font-bold text-3xl leading-5">
    <span>Agenzia Garda - 330</span>
    <button class="bg-vittDarkishBlue w-56 h-8 rounded-full rounded-2xl	not-italic font-bold text-sm leading-5 text-white	text-center	tracking-wider border-none ">RICHIEDI ESTRAZIONE FILE</button>
    </div>
  <div class="flex items-center space-x-3 mt-6 maco">
    <img class="text-vittNavyBlue" src="/assets/icons/arrow_back.svg" alt="arrow icon">
    <span class="text-vittDarkishBlue font-vitt not-italic font-bold text-sm leading-5 underline">Indietro</span>
</div>