<div class="mt-6">
    <div class="flex items-center space-x-12 font-vitt text-vittNavyBlue not-italic font-bold text-3xl leading-5">
        <span>Cartella 1</span>
    </div>
    <div class="flex items-center space-x-3 mt-6 maco">
        <span class="text-vittDarkishBlue font-vitt not-italic font-bold text-sm leading-5 underline">Agenzia Garda 330</span>
        <img class="text-vittNavyBlue" src="/assets/icons/arrow_next.svg" alt="arrow icon">
        <span class="text-vittDarkishBlue font-vitt not-italic font-bold text-sm leading-5 underline">Cartella 1</span>
    </div>       
</div>