        <div class="font-vitt w-3/5 p-8 bg-white rounded-md">
            <h2 class="not-italic font-bold text-2xl tracking-wide text-vittNavyBlue m-0">Sei sicuro di voler caricare questo documento?</h2>
            <img src="/assets/icons/line.svg" alt="Vertical Line">
            <p class="text-vittNavyBlue not-italic font-light text-base tracking-wide">Questo documento una volta caricato non potrà essere eliminato dalla cartella. Procedere?</p>
            <div class="flex justify-end  gap-6 mt-24">
                <button class="buttone not-italic font-bold text-sm text-vittDarkishBlue bg-white border border-vittDarkishBlue tracking-wide">ANNULLA</button>
                <button class="buttone not-italic font-bold text-sm text-white bg-vittDarkishBlue border-none tracking-wider">PROCEDI</button>
            </div>
        </div>