<div id="divisione" class="rounded-md">
    <div class="flex flex-row justify-center items-center gap-5 rounded-md" >
            <h3 class="font-vitt text-white not-italic font-semibold text-lg leading-6 mt-6 tracking-wider">Carica documento</h3>
            <img class="w-10 h-10" src="/assets/icons/upload_file.svg" alt="upload icon">    
    </div>
    <div class="flex justify-center mt-8">
        <button id="buttone" class="rounded-3xl border-none bg-white font-vitt text-vittNavyBlue not-italic font-bold text-sm leading-5 text-center tracking-widest	 py-1.5 px-4 h-8 ">Carica documento</button>
    </div>
</div>